@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 100% 10%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 100% 10%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 100% 10%;
 
    --primary: 222.2 100% 20%;
    --primary-foreground: 210 100% 98%;
 
    --secondary: 210 100% 98%;
    --secondary-foreground: 222.2 100% 20%;
 
    --muted: 210 100% 98%;
    --muted-foreground: 215.4 100% 40%;
 
    --accent: 210 100% 98%;
    --accent-foreground: 222.2 100% 20%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 100% 98%;

    --border: 214.3 100% 90%;
    --input: 214.3 100% 90%;
    --ring: 222.2 100% 10%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 100% 10%;
    --foreground: 210 100% 98%;
 
    --card: 222.2 100% 10%;
    --card-foreground: 210 100% 98%;
 
    --popover: 222.2 100% 10%;
    --popover-foreground: 210 100% 98%;
 
    --primary: 210 100% 98%;
    --primary-foreground: 222.2 100% 20%;
 
    --secondary: 217.2 100% 20%;
    --secondary-foreground: 210 100% 98%;
 
    --muted: 217.2 100% 20%;
    --muted-foreground: 215 100% 65%;
 
    --accent: 217.2 100% 20%;
    --accent-foreground: 210 100% 98%;
 
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 100% 98%;
 
    --border: 217.2 100% 20%;
    --input: 217.2 100% 20%;
    --ring: 212.7 100% 84%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
